<div class="allcomponents-container allusers">
  <div class="allcomponents">
    <p class="h2">All Users</p>

    <nav a ria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Users</a></li>
        <li class="breadcrumb-item active" aria-current="page">All Users</li>
      </ol>
    </nav>
  </div>
</div>
<div class="allcomponents-container alluserspadding">
  <div class="allcomponents-table">
    <table datatable [dtOptions]="dtOptions" class="table table-striped">
      <thead>
        <tr>
          <th colspan="4" class="table-heading">All Users</th>
        </tr>
        <tr>
          <th>#</th>
          <th>User Name</th>
          <th>User Email</th>
          <th>Created On</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Anjali</td>
          <td>anjali&#64;example.com</td>
          <td>9 Sept 2024</td>
        </tr>

        <tr>
          <td>2</td>
          <td>tina</td>
          <td>tina&#64;example.com</td>
          <td>9 Sept 2024</td>
        </tr>

        <tr>
          <td>3</td>
          <td>Mitali</td>
          <td>mitali&#64;example.com</td>
          <td>9 Sept 2024</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
