<div class="allcomponents-container allusers">
    <div class="allcomponents">
      <p class="h2">User Templates</p>
  
      <nav a ria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Users</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Templates</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="allcomponents-container alluserspadding">
    <div class="allcomponents-table">
      <table datatable [dtOptions]="dtOptions" class="table table-striped">
        <thead>
          <tr>
            <th colspan="6" class="table-heading">User Templates</th>
          </tr>
          <tr>
            <th>#</th>
            <th>Component Name</th>
            <th>Component Type</th>
            <th>Component Variation</th>
            <th>Updated At</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Button</td>
            <td>Primary button</td>
            <td>Variation</td>
            <td>9 Sept 2024</td>
            <td>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
              </td>
          </tr>
        
          <tr>
            <td>2</td>
            <td>Button</td>
            <td>secondary button</td>
            <td>Variation</td>
            <td>9 Sept 2024</td>
            <td>
              <button type="button" class="btn btn-warning actions"(click)="openEditPopup(content)">Edit</button>
              <button type="button" class="btn btn-danger actions">Delete</button>
            </td>          
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
  
<ng-template #content let-modal>
<div class="modal-header">
<h4 class="modal-title">User Template</h4>
<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
<p><input
type="text"
class="form-control"
placeholder="Enter text here"/></p>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" (click)="modal.close('Close click')">Cancel</button>
<button type="button" class="btn btn-success" (click)="onSubmit()">Update</button>
</div>
</ng-template> 