.header
{
    padding: .74rem .937rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 9999;
}
.h4{
    color: #E86C00  ;
}