<div class="allcomponents-container allusers ">
    <div class="allcomponents">
      <p class="h2">User Library Version</p>
  
      <nav a ria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Users</a></li>
          <li class="breadcrumb-item active" aria-current="page">User Library Version</li>
        </ol>
      </nav>
    </div>
  </div>
  <div class="allcomponents-container alluserspadding">
    <div class="allcomponents-table">
      <table datatable [dtOptions]="dtOptions" class="table table-striped">
        <thead>
          <tr>
            <th colspan="6" class="table-heading">User Library Version</th>
          </tr>
          <tr>
            <th>#</th>
            <th>User Name</th>
            <th>User Email</th>
            <th>Library Name</th>
            <th>Version Number</th>
            <th>Created At</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Button</td>
            <td>Primary button</td>
            <td>Variation</td>
            <td>9 Sept 2024</td>
            <td>Buttons</td>
          </tr>
                 <tr>
            <td>2</td>
            <td>Button</td>
            <td>secondary button</td>
            <td>Variation</td>
            <td>9 Sept 2024</td>
            <td>Buttons</td>
          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
  