.sidebar{
    display: flex;
    flex-direction: row;
}
.sidepanel{ 
    width:12.5rem;
    height: 100vh;
    background-color: #212529;
    position: fixed;
    height: 100%;
    margin-top: 3.84rem;
}
.main{
    flex: 1;
    margin-top: 3.84rem;
    margin-left:12.5rem;
}