.allcomponents-container {
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.container,
.my-3 {
    padding: 0px;
}

.grey-line {
    background-color: #ccc;
    height: 0.06rem;
    width: 100%;
    margin: 1rem 0px;
}

.allcomponents-table {
    margin-right: 1.87rem;
}

td,
th {
    border: .06rem solid #ccc;
}

button {
    margin-left: .31rem;
}
.table-heading {
    font-size: 1.126rem;
    font-weight: bold;
    text-align: center;
    background-color: #f8f9fa;
    padding: .6125rem 0;
}