<div class="adminlogin-container">
    <div class="inner-container">
  <div class="heading-container">
    <h2>Inspex UI Admin Login</h2>
  </div>
  <div class="login-container">
    <div class="email">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
    </div>
    <div class="password">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Password</label
        >
        <input
          type="password"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="Password"
        />
      </div>
    </div>
      <div class="submit-button">
        <button type="button" class="btn btn-primary" (click)="onSubmit()"
        >Login</button>
   </div>
  </div>
  </div>
</div>
